.favorites-page {
  padding: 3rem;
  max-width: 200px;
}

.header h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #da3636;
  font-size: 2rem;
}

.favorites-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.favorite-card {
 border: 1px solid #ccc;
  padding: 3rem;
  border-radius: 8px;
  text-align: center;
  background: #fafafa;
  transition: transform 0.2s ease-in-out;
}

.favorite-card:hover {
  transform: scale(1.02);
}

.favorite-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.book-info {
  text-align: center;
}

.book-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #444;
}

.book-info p {
  font-size: 1rem;
  font-weight: bold;
  color: #1a73e8;
}

.favorite-card button {
  display: block;
  margin: 0 auto 1rem;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.favorite-card button:hover {
  background-color: #d32f2f;
}
